.album {
  &_thumbnailUrl {
    & > img {
      border-radius: 0.5rem;
      width: 190px;
    }
  }

  &_name {
    font-weight: bold;
  }
  &_title {
    font-size: 0.75rem;
    // padding-top: 50px;
    margin-top: -10px;
  }
}
